@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit&family=Poppins&family=ZCOOL+KuaiLe&display=swap");

@layer base {
  body {
    @apply font-[Raleway];
  }
  li {
    @apply px-4;
    @apply cursor-pointer;
  }
}

.cursive-font {
  font-family: "ZCOOL KuaiLe", cursive;
}

.content-div {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.content-div:hover {
  background-image: linear-gradient(to top, #0f2027, #203a43, #2c5364) !important;
}

.background-colour {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(to top, #434343, #000000); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@keyframes run {
  from {
    transform: translate(0);
  }
  50% {
    transform: translate(40%);
  }
  90% {
    transform: translate(0);
  }
  to {
    transform: translate(0);
  }
}

.arrow-animation {
  animation: run;
  animation-duration: 4s;
  animation-direction: normal;
  animation-iteration-count: infinite;
}
